nav{
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.signout{
    font-style: italic;
    padding: 2%;
    color: rgb(223, 197, 197);
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.signout:hover{
    color: rgb(224, 33, 208);
}